<img src="img/p1/p1_bg.jpg" class="background">
<img src="img/p1/p1_star.png" class="liuxing1">
<img src="img/p1/p1_star.png" class="liuxing2">
<img src="img/p1/p1_star.png" class="liuxing3">
<div class="page_index">
    <section class="title">
        <div class="center">
            <div class="earth">
                <div class="earth_img">
                    <img src="img/p1/p1_earth1.png" class="world1" >
                    <img src="img/p1/p1_earth2.png" class="world" >
                    <img src="img/p1/p1_earth3.png" class="world" style="z-index: 12;">
                    <img src="img/p1/p1_earth4.png" class="world" >
                    <div>
                        <img src="img/p1/p1_around.png" class="moon">
                    </div>
                </div>
            </div>
            <div class="text">
                <img src="img/p1/p1_title.png">
            </div>
        </div>
    </section>


    <footer>
        <div class="ceng4">
            <div class="ceng1">
                <img src="img/p1/p1_cloud.png" class="ceng1_img">
            </div>
            <div class="ceng2">
                <img src="img/p1/p1mbg.png" class="ceng2_img">
            </div>
            <div class="ceng3">
                <img src="img/p1/p1_a1.png" class="ceng3_1">
                <img src="img/p1/p1_a2.png" class="ceng3_2">
                <img src="img/p1/p1_a3.png" class="ceng3_3">
                <img src="img/p1/p1_a4.png" class="ceng3_4">
                <img src="img/p1/p1_a5.png" class="ceng3_5">
                <img src="img/p1/p1_a6.png" class="ceng3_6">
                <img src="img/p1/p1_a7.png" class="ceng3_7">
                <img src="img/p1/p1_a8.png" class="ceng3_8">
                <img src="img/p1/p1_a9.png" class="ceng3_9">
                <img src="img/p1/p1_a10.png" class="ceng3_10">
                <img src="img/p1/p1_a11.png" class="ceng3_11">
                <img src="img/p1/p1_a12.png" class="ceng3_12">
                <img src="img/p1/p1_a12.png" class="ceng3_13">
                <img src="img/p1/p1_a12.png" class="ceng3_14">
            </div>
            <img src="img/p1/p1_ground.png" class="ceng4_bg">
            <div class="ceng4">
                <ul>
                    <li ng-click="changeLocation('/catalog1')"><img src="img/p1/p1_b1.png"></li>
                    <li ng-click="changeLocation('/catalog2')"><img src="img/p1/p1_b2.png"></li>
                    <li ng-click="changeLocation('/catalog3')"><img src="img/p1/p1_b3.png"></li>
                </ul>
            </div>
        </div>
    </footer>
</div>