<div class="p8-bg">
    <div class="white-box">
        <div id="pageFive-title" class="pageTitle"><img src="img/p10/p10_title.png" style="width: 100.03%; margin-top:-0.7%;"/></div>
        <div id="pageFive-text"><img src="img/p10/p10_working.png" style="width: 100%"/></div>
        <div id="pageFive-text"><img src="img/p10/p10_team.png" style="width: 100%"/></div>
        <div id="pageFive-text"><img src="img/p10/p10_sit.png" style="width: 100%"/></div>
        <div id="pageFive-text"><img src="img/p10/p10_leisure.png" style="width: 100%"/></div>
        <div class="div-clock working-clock">
          <img src="img/p10/p10_clock.png" style="width: 100%">
          <img src="img/p10/hour.png" class="hour work-hour">
          <img src="img/p10/min.png" class="min work-min">
        </div>
        <div class="div-clock team-clock">
          <img src="img/p10/p10_clock.png" style="width: 100%">
          <img src="img/p10/hour.png" class="hour team-hour">
          <img src="img/p10/min.png" class="min team-min">
        </div>
        <div class="div-clock sit-clock">
          <img src="img/p10/p10_clock.png" style="width: 100%">
          <img src="img/p10/hour.png" class="hour sit-hour">
          <img src="img/p10/min.png" class="min team-min">
        </div>
        <div class="div-clock leisure-clock">
          <img src="img/p10/p10_clock.png" style="width: 100%">
          <img src="img/p10/hour.png" class="hour leisure-hour">
          <img src="img/p10/min.png" class="min team-min">
        </div>
    </div>
</div>