<div class="p8-bg">
    <div class="white-box">
        <div id="pageFive-title" class="pageTitle"><img src="img/p9/p9_title.png" style="width: 100.25%; margin-top:-0.5%;margin-left:-0.25%"/></div>
        <div id="pageFive-text"><img src="img/p9/p9_text.png" style="width: 100%"/></div>
        <div id="pageFive-content">
            <div class="xinfu">
				<img src="img/p9/p9_icon1.png" class="xinfu-icon" />
				<img src="img/p9/p9_title1.png" class="xinfu-title"/>
				<img src="img/p9/p9_text1.png" class="xinfu-text"/>
            </div>
            <div class="xinfu">
            	<div class="icon-center" >
            		<img src="img/p9/p9_icon2.png" class="xinfu-icon icon-pos"/>
					<img src="img/p9/p9_title2.png" class="xinfu-title title-pos title2-trans" />
            	</div>
				<img src="img/p9/p9_text2.png" class="xinfu-text text2-trans"/>
            </div>
            <div class="xinfu">
				<div class="icon-center" >
            		<img src="img/p9/p9_icon3.png" class="xinfu-icon icon-pos" />
					<img src="img/p9/p9_title3.png" class="xinfu-title title-pos title3-trans"/>
            	</div>
				<img src="img/p9/p9_text3.png" class="xinfu-text text3-trans"/>
            </div>
        </div>
        <div id="pageFive-text"><img src="img/p9/p9_bottom.png" style="width: 100%"/></div>
    </div>
</div>