<div class="p8-bg" style="height: 100%">
    <div class="white-box" style="height:95%">
        <div id="pageThree-title" class="pageTitle"><img src="img/p6/p6_title.png" style="width: 100.25%; margin-top:-0.5%;margin-left:-0.25%;"/></div>
        <div id="pageThree-content">
            <div id="iconLeft">
                <div id="iconLeft-three"><img src="img/p6/p6_icon3.png" style="width: 100%"/></div>
                <div id="iconLeft-t3"><img src="img/p6/p6_t3.png" style="width: 100%"/></div>
            </div>

            <div id="iconCenter">
                <div id="iconCenter-one">
                    <div id="iconCenter-t1"><img src="img/p6/p6_t1.png" style="width: 100%"/></div>
                    <div id="iconCenter-icon1"><img src="img/p6/p6_icon1.png" style="width: 100%"/></div>
                </div>

                <div id="iconCenter-two">
                    <div id="iconCenter-icon2"><img src="img/p6/p6_icon2.png" style="width: 100%"/></div>
                    <div id="iconCenter-t2"><img src="img/p6/p6_t2.png" style="width: 100%"/></div>
                </div>
            </div>

            <div id="iconRight">
                <div id="iconRight-four"><img src="img/p6/p6_icon4.png" style="width: 100%"/></div>
                <div id="iconRight-t4"><img src="img/p6/p6_t4.png" style="width: 100%"/></div>
            </div>
            <div id="relationship1"><img src="img/p6/p6_line1.png" style="width: 100%"/></div>
            <div id="relationship2"><img src="img/p6/p6_line2.png" style="width: 100%"/></div>
            <div id="relationship3"><img src="img/p6/p6_line3.png" style="width: 100%"/></div>
        </div>
    </div>
</div>