
<div class="white-box">
    <div id="pageFour-title" class="pageTitle"><img src="img/p7/p7_title.png" style="width: 100.5%; margin:-0.5% -0.25%"/></div>
    <div id="pageFour-text"><img src="img/p7/p7_text.png" style="width: 100%"/></div>
    <div id="pageFour-content">
        <div id="year2004" class="year"><img src="img/p7/p7_y1.png" style="width: 100%"/></div>
        <div id="year2005" class="year"><img src="img/p7/p7_y2.png" style="width: 100%"/></div>
        <div id="year2006" class="year"><img src="img/p7/p7_y3.png" style="width: 100%"/></div>
        <div id="year2007" class="year"><img src="img/p7/p7_y4.png" style="width: 100%"/></div>
        <div id="year2008" class="year"><img src="img/p7/p7_y5.png" style="width: 100%"/></div>
        <div id="year2009" class="year"><img src="img/p7/p7_y6.png" style="width: 100%"/></div>
        <div id="year2010" class="year"><img src="img/p7/p7_y7.png" style="width: 100%"/></div>
        <div id="year2011" class="year"><img src="img/p7/p7_y8.png" style="width: 100%"/></div>
        <div id="year2012" class="year"><img src="img/p7/p7_y9.png" style="width: 100%"/></div>
        <div id="year2014" class="year"><img src="img/p7/p7_y10.png" style="width: 100%"/></div>
        <div id="year2015" class="year"><img src="img/p7/p7_y11.png" style="width: 100%"/></div>

        <div id="line1"><img src="img/p7/p7_l1.png" style="width: 100%"/></div>
        <div id="line2"><img src="img/p7/p7_l2.png" style="width: 100%"/></div>
        <div id="line3"><img src="img/p7/p7_l3.png" style="width: 100%"/></div>
        <div id="line4"><img src="img/p7/p7_l4.png" style="width: 100%"/></div>
        <div id="line5"><img src="img/p7/p7_l5.png" style="width: 100%"/></div>
        <div id="line6"><img src="img/p7/p7_l6.png" style="width: 100%"/></div>
        <div id="line7"><img src="img/p7/p7_l7.png" style="width: 100%"/></div>
        <div id="line8"><img src="img/p7/p7_l8.png" style="width: 100%"/></div>
        <div id="line9"><img src="img/p7/p7_l9.png" style="width: 100%"/></div>
        <div id="line10"><img src="img/p7/p7_l10.png" style="width: 100%"/></div>
    </div>
</div>
