<div class="p8-bg">
    <div class="white-box">
        <div id="pageFive-title" class="pageTitle"><img src="img/p4/title.png" style="width: 100%; margin-top:-0.7%;"/></div>
        <div id="pageFive-text"><img src="img/p4/img2.png" style="width: 100%"/></div>
        <div id="pageFive-text"><img src="img/p4/img3.png" style="width: 100%"/></div>
        <div id="pageFive-text"><img src="img/p4/img4.png" style="width: 100%"/></div>
        <div class="left-year y2005"><img src="img/p4/y2005.png"><img src="img/p4/guang.png" style="width:125%" class="guang left_guang"></div>
        <div class="left-year y2007"><img src="img/p4/y2007.png"><img src="img/p4/guang.png" style="width:125%" class="guang left_guang"></div>
        <div class="left-year y2009"><img src="img/p4/y2009.png"><img src="img/p4/guang.png" style="width:125%" class="guang left_guang"></div>
        <div class="left-year y2011"><img src="img/p4/y2011.png"><img src="img/p4/guang.png" style="width:125%" class="guang left_guang"></div>
        <div class="left-year y2013"><img src="img/p4/y2013.png"><img src="img/p4/guang.png" style="width:125%" class="guang left_guang"></div>
        <div class="left-year y2015"><img src="img/p4/y2015.png"><img src="img/p4/guang.png" style="width:125%" class="guang left_guang"></div>

        <div class="right-year y2006"><img src="img/p4/y2006.png"><img src="img/p4/guang.png" style="width:125%" class="guang right_guang"></div>
        <div class="right-year y2008"><img src="img/p4/y2008.png"><img src="img/p4/guang.png" style="width:125%" class="guang right_guang"></div>
        <div class="right-year y2010"><img src="img/p4/y2010.png"><img src="img/p4/guang.png" style="width:125%" class="guang right_guang"></div>
        <div class="right-year y2012"><img src="img/p4/y2012.png"><img src="img/p4/guang.png" style="width:125%" class="guang right_guang"></div>
        <div class="right-year y2014"><img src="img/p4/y2014.png"><img src="img/p4/guang.png" style="width:125%" class="guang right_guang"></div>
        <div class="right-year y2016"><img src="img/p4/y2016.png"><img src="img/p4/guang.png" style="width:125%" class="guang right_guang"></div>
        <div class="left-year y2017">
            <img src="img/p4/y2017.png">
            <img src="img/p4/guang.png" style="width:125%" class="guang left_guang"></div>
    </div>
</div>