
<div class="p8-bg">
    <div class="white-box">
        <div id="pageTwo-title" class="pageTitle"><img src="img/p5/p5_title.png" style="width: 100.6%; margin-top:-0.55%; margin-left:-.55%"/></div>
        <div id="pageTwo-text"><img src="img/p5/p5_text.png" style="width: 100%"/></div>
        <div id="pageTwo-content">
            <div id="textLeft">
                <div id="textLeft-one">
                    <img src="img/p5/p5_text1.png" style="width: 100%"/>
                </div>
                <div id="textLeft-two">
                    <img src="img/p5/p5_t2.png" style="width: 100%"/>
                </div>
                <div id="textLeft-three">
                    <img src="img/p5/p5_text3.png" style="width: 100%"/>
                </div>
                <div id="textLeft-four">
                    <img src="img/p5/p5_t4.png" style="width: 100%"/>
                </div>
                <div id="textLeft-five">
                    <img src="img/p5/p5_text5.png" style="width: 100%"/>
                </div>
            </div>
            <div id="pageTwo-line"><img src="img/p5/p5_icon.png" style="width: 100%"/></div>
            <div id="textRight">
                <div id="textRight-one">
                    <img src="img/p5/p5_t1.png" style="width: 100%;margin-top: 7%;"/>
                </div>
                <div id="textRight-two">
                    <img src="img/p5/p5_text2.png" style="width: 100%;"/>
                </div>
                <div id="textRight-three">
                    <img src="img/p5/p5_t3.png" style="width: 100%;margin-top: 3%;"/>
                </div>
                <div id="textRight-four">
                    <img src="img/p5/p5_text4.png" style="width: 100%;margin-top: -4%;"/>
                </div>
                <div id="textRight-five">
                    <img src="img/p5/p5_t5.png" style="width: 100%"/>
                </div>
            </div>
        </div>
    </div>
</div>