/* line 1, ../sass/pageAnimation.scss */
.ng-leave {
  z-index: 9999;
}

/* line 2, ../sass/pageAnimation.scss */
.ng-enter {
  z-index: 8888;
}

/* line 4, ../sass/pageAnimation.scss */
.p1.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 5, ../sass/pageAnimation.scss */
.p2.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 6, ../sass/pageAnimation.scss */
.p3.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 7, ../sass/pageAnimation.scss */
.p4.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 8, ../sass/pageAnimation.scss */
.p5.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 9, ../sass/pageAnimation.scss */
.p6.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 10, ../sass/pageAnimation.scss */
.p7.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 11, ../sass/pageAnimation.scss */
.p8.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 12, ../sass/pageAnimation.scss */
.p9.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 13, ../sass/pageAnimation.scss */
.p10.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 14, ../sass/pageAnimation.scss */
.p11.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 15, ../sass/pageAnimation.scss */
.p12.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 16, ../sass/pageAnimation.scss */
.p13.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 17, ../sass/pageAnimation.scss */
.p14.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 18, ../sass/pageAnimation.scss */
.p15.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 19, ../sass/pageAnimation.scss */
.p16.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 20, ../sass/pageAnimation.scss */
.p17.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 21, ../sass/pageAnimation.scss */
.p18.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 22, ../sass/pageAnimation.scss */
.p19.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 23, ../sass/pageAnimation.scss */
.p20.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 24, ../sass/pageAnimation.scss */
.p21.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 25, ../sass/pageAnimation.scss */
.p22.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 26, ../sass/pageAnimation.scss */
.p23.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 27, ../sass/pageAnimation.scss */
.p24.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 28, ../sass/pageAnimation.scss */
.p25.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 29, ../sass/pageAnimation.scss */
.p26.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 30, ../sass/pageAnimation.scss */
.p27.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 31, ../sass/pageAnimation.scss */
.p28.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 32, ../sass/pageAnimation.scss */
.p29.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 33, ../sass/pageAnimation.scss */
.p30.ng-leave {
  -webkit-animation: close 0.5s 0s both;
}

/* line 38, ../sass/pageAnimation.scss */
.p1.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 39, ../sass/pageAnimation.scss */
.p2.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 40, ../sass/pageAnimation.scss */
.p3.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 41, ../sass/pageAnimation.scss */
.p4.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 42, ../sass/pageAnimation.scss */
.p5.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 43, ../sass/pageAnimation.scss */
.p6.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 44, ../sass/pageAnimation.scss */
.p7.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 45, ../sass/pageAnimation.scss */
.p8.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 46, ../sass/pageAnimation.scss */
.p9.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 47, ../sass/pageAnimation.scss */
.p10.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 48, ../sass/pageAnimation.scss */
.p11.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 49, ../sass/pageAnimation.scss */
.p12.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 50, ../sass/pageAnimation.scss */
.p13.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 51, ../sass/pageAnimation.scss */
.p14.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 52, ../sass/pageAnimation.scss */
.p15.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 53, ../sass/pageAnimation.scss */
.p16.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 54, ../sass/pageAnimation.scss */
.p17.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 55, ../sass/pageAnimation.scss */
.p18.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 56, ../sass/pageAnimation.scss */
.p19.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 57, ../sass/pageAnimation.scss */
.p20.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 58, ../sass/pageAnimation.scss */
.p21.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 59, ../sass/pageAnimation.scss */
.p22.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 60, ../sass/pageAnimation.scss */
.p23.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 61, ../sass/pageAnimation.scss */
.p24.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 62, ../sass/pageAnimation.scss */
.p25.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 63, ../sass/pageAnimation.scss */
.p26.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 64, ../sass/pageAnimation.scss */
.p27.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 65, ../sass/pageAnimation.scss */
.p28.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 66, ../sass/pageAnimation.scss */
.p29.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}

/* line 67, ../sass/pageAnimation.scss */
.p30.ng-enter {
  -webkit-animation: open 0.5s 0.5s both;
}
